@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

p {
  font-size: 16px;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

ul {
  list-style: none !important;
  margin-bottom: 0px !important;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category {
  border-bottom: 1px solid #006EAC;
}
.category .tag {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #006EAC;
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: #020202;
}

.user-details .username img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.br-bottom-primary {
  border-bottom: 1px solid #006EAC;
}

.br-bottom-gray {
  border-bottom: 2px solid rgba(184, 184, 184, 0.549);
}

.primary-color {
  color: #006EAC !important;
}

.p-color {
  color: #555555 !important;
}

.black-02 {
  color: #020202;
}

.bg-color {
  background-color: rgba(224, 224, 224, 0.8549019608);
}

.time p {
  color: rgb(108, 108, 108);
}

.small {
  width: 40px;
}

.small-font {
  font-size: 18px;
  font-weight: bold;
}

.content {
  background-color: rgba(32, 29, 29, 0.7058823529);
  width: 100%;
  border-top: 2px solid #ED1C24;
}

.half {
  width: 70%;
}

.pp-circle {
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: red;
  position: relative;
  margin: 0 auto;
}
.pp-circle::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #A1BAC8;
  left: -15px;
  top: -5px;
  z-index: -1;
}
.pp-circle img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.exchange-rate {
  width: 100%;
  background-color: #006EAC;
}

.round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #006EAC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-card figure {
  box-shadow: 0 0 5px rgba(173, 173, 173, 0.767);
  background-color: white;
}
.news-card figure img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  padding: 5px;
}
.news-card h2:hover {
  color: #006EAC;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.top-header .logo {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.top-header time {
  font-size: 15px;
  color: #1B1B1C;
  font-weight: 500;
}

.navigation-bar {
  background-color: #006EAC;
  color: white;
}
.navigation-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar .container .side-menu-open-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 30px;
}
.navigation-bar .container nav {
  flex: 1;
  margin-left: 40px;
}
.navigation-bar .container nav ul {
  display: flex;
  gap: 20px;
}
.navigation-bar .container nav ul li a {
  font-weight: 500;
}
.navigation-bar .container .search-btn {
  border: none;
  color: #006EAC;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 16px;
}

.sticky {
  position: sticky;
  top: -78px;
  z-index: 9999999;
  transform: translateY(100%);
  transition: 0.5s linear;
}

.side-nav {
  width: 445px;
  background-color: yellow;
  position: fixed;
  top: 0;
  height: 100vh;
}
.side-nav i {
  float: right;
  font-size: 35px;
}
.side-nav .side-nav-logo {
  margin: 0px auto;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #006EAC;
}
.side-nav .side-nav-logo figure {
  width: 300px;
  height: 90px;
  margin: 0;
}
.side-nav .side-nav-logo figure img {
  width: 100%;
  height: 100%;
}
.side-nav .side-nav-logo time {
  font-size: 15px;
  font-weight: 600;
}

.top-footer {
  background-color: rgba(0, 109, 172, 0.5019607843);
}
.top-footer .container img {
  width: -moz-fit-content;
  width: fit-content;
}

.main-footer {
  background-color: #006EAC;
}

.bor-left {
  border-left: 2px solid rgba(184, 184, 184, 0.549);
}/*# sourceMappingURL=style..css.map */