*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
ul{
    list-style: none !important;
    margin-bottom: 0px !important;
   
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}