.top-header {
    .logo {
        object-fit: none;
        height: fit-content;
    }

    time {
        font-size: 15px;
        color: #1B1B1C;
        font-weight: 500;
    }
}

.navigation-bar {
    background-color: $primary-color;
    color: white;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .side-menu-open-btn {
            background-color: transparent;
            border: none;
            color: inherit;
            font-size: 30px;
        }

        nav {
            flex: 1;
            margin-left: 40px;

            ul {
                display: flex;
                gap: 20px;

                li {
                    a {
                        font-weight: 500;
                    }
                }
            }
        }

        .search-btn {
            border: none;
            color: $primary-color;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            font-size: 16px;
        }
    }

}

.sticky {
    position: sticky;
    top: -78px;
    z-index: 9999999;
    transform: translateY(100%);
    transition: 0.5s linear;
}